{% extends 'base.html' %}
{% block delivery_banner %}
{% endblock %}
{% block category_buttons %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a
        href="{% url 'user_profile' %}"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Account Details</a
      >
      <a
        href=""
        class="list-group-item list-group-item-action bg-dark text-white"
        >Recent Orders</a
      >
      <a
        href=""
        class="list-group-item list-group-item-action bg-dark text-white"
        >Liked Products</a
      >
      <a
        href=""
        class="list-group-item list-group-item-action bg-dark text-white"
        >Comments</a
      >
    </div>
  </div>
  <div class="col-12 col-md-9 d-flex justify-content-center">
    <div class="w-100" style="max-width: 600px">
      <div class="border border-danger rounded p-4 bg-dark text-white">
        <h2 class="mb-4 text-center">Your Profile</h2>
        <form method="POST" novalidate>
          {% csrf_token %} {{ form|crispy }}
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-danger">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
