.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: white;
}

.input-group .form-control:focus {
  box-shadow: none;
  background-color: #1a1a1a;
  color: white;
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
  }
}

