{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-white">All Products</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none text-dark">
        <div class="card h-100">
          {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description|truncatewords:20 }}</p>
            <p class="card-text fw-bold">${{ product.price }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
